@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
h1 {
  text-align: center;
}

.button {
  margin: 10px;
}

.callout {
  width: 80vw;
  margin: 30px auto;
  opacity: 0.75;
}

.card {
  width: 300px;
  margin: 30px auto;
  background-color: #d7ecfa;
  text-align: center !important;
  opacity: 0.85;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

.BookList-name {
  font-size: 4vw;
  opacity: 100%;
  font-weight: bold;
  background: rgba(226, 226, 226, 0.75);
}

.BookList-tile {
  width: 20vw;
  height: 20vw;
  background-color: white;
}

#new-book-form {
  width: 800px;
  margin: auto;
  border-width: thin;
  border-color: black;
  opacity: 1;
}

#new-bookList-form {
  width: 800px;
  margin: auto;
  border-width: thin;
  border-color: black;
  opacity: 1;
}
